@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
}
.line1{
    background-color: #161616;
    height: 30px;
}
.line1>ol{
    display: flex;
    list-style-type: none;
    color: #D8D8D8;
    font-size: 12px;
    height: 100%;
    justify-content: flex-end;
}
.line1>ol>li{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}


.line2{
    background-color: black;
}
.line2>.container>ol{
    display: flex;
    list-style-type: none;
    color: #D8D8D8;
    font-size: 12px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.line2>ol>li{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
    margin-left:6px;
}