@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --orange-color: #D0A452;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
}
.line1{
    background-color: #161616;
    height: 30px;
    ol{
        display: flex;
        list-style-type: none;
        color: #D8D8D8;
        font-size: 12px;
        height: 100%;
        justify-content: flex-end;
        li{
            padding: 0px 10px;
            display: flex;
            align-items: center;
        }
    }
}
.line2{
    background-color: black;
    .container{
        .phone{
            color: var(--orange-color);
            font-size: 16px;
            padding: 18px 4px 16px 26px;
            flex-grow: 1;
        }
        ol{
            display: flex;
            list-style-type: none;
            color: #D8D8D8;
            font-size: 12px;
            justify-content: flex-end;
            li{
                padding: 0px 15px;
            }
        }
    }
}
a{
    text-decoration: none;
    color: inherit;
    margin-left:6px;
}

.line2>.container{
    display: flex;
    align-items: center;
}
.hoverage>li{
    transition: 0.3s; 
}
.hoverage>li:hover{
    color: var(--orange-color);
    transition: 0.3s; 
}
.box_promo{
    color: white;
    border-radius: 18px;
    background: rgba(27, 27, 29, 0.5);
    backdrop-filter: blur(11.5px);
    display: flex;
    gap: 50px;
    padding: 26px 32px;
    box-sizing: border-box;
}
.box_left{
    font-size: 20px;
    
    .title{
        margin:20px 0px 10px;
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        
    }
    .description{
        margin:30px 0px 10px;
    }
    .phone{
        margin: 20px 0px;
    }
}

.orange-line{
    color: var(--orange-color);
}
main{
    background-image: url("https://s12.stc.all.kpcdn.net/russia/wp-content/uploads/2024/08/fitnes-kluby-sankt-peterburga-molot-2.jpg");
    height: 1580px;
    background-size: cover;
}
.back1{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3038), rgba(0, 0, 0, .197), rgba(0, 0, 0, 1));
    height: 1580px;
}
.banner{
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 5%
}
.banner>img{
    height: 100px;
}
.box_right{
    width: 940px;
    font-size: 20px;
    background: #0E0D0DCC;
    border-radius: 18.24px;
    padding: 1.1em 1.2em;
    height: min-content;
}
.btn{
    display: block;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color: black;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8.72px 30.617px 8.72px;
    margin-top: /*45*/ 30px;
    transition-property: background-color;
    transition-duration: .15s;
    transition-timing-function: linear;
    width:min-content;
}
.btn:hover{
    color:white;
}
.upline{
    line-height: 2em;
}